<%- include('../plantillas/cabecera'); %>
<%- include('../plantillas/barranav'); %>

<div class="container">
  <a href="/categoria/crear" class="btn btn btn-outline-primary container-fluid p-1 m-1"><small>Agregar</small></a>
  <table class="table table-striped ">
    <thead>
      <tr class="border-secondary">
        <th scope="col">Id</th>
        <th scope="col">Categoría</th>
        <th scope="col">Modalidad</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
        <% if (arraycategorias.length > 0) { %>
            <% arraycategorias.forEach(categoria => { %>
                <tr>
                    <th scope="row"><%= categoria.id_cat %> </th>
                    <td><%= categoria.nombre_cat %></td>
                    <td><%= categoria.nombre_mod %></td>
                    <td>
                      <a href="categoria/editar/<%= categoria.id_cat %>" class="btn btn-outline-info p-0"><small>Editar</small></a>
                      <a href="categoria/eliminar/<%= categoria.id_cat %>" class="btn btn-outline-danger p-0"><small>Eliminar</small></a>                   
                    </td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
  </table>
</div>
<%- include('../plantillas/pie'); %>