<%- include('../plantillas/cabecera'); %>
<%- include('../plantillas/barranav'); %>
<% if (equipo) { %>
    <div class="container mt-4">          
        <div class="card border-secondary">  
              <div class="card-header text-danger text-center">Editar Equipo</div>
              <div class="card-body">
                  <form action="/equipos/modificar/<%= equipo.id_equipo %>" method="POST">
                       <input id="id_equipo" name="id_equipo" value="<%= equipo.id_equipo %>" hidden>
                      <div class="mb-3">
                        <label for="user" class="form-label">Equipo</label>
                        <input type="text" class="form-control" id="nombre_equipo" name="nombre_equipo" value="<%= equipo.nombre_equipo %>">                        
                      </div>   
                      <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                      <a href="/" class="btn btn-secondary">Cancelar</a>
                  </form>      
              </div>
          </div>     
    </div>    
<% } %>
<%- include('../plantillas/pie'); %>