<%- include('../plantillas/cabecera'); %>
<%- include('../plantillas/barranav'); %>

<div class="container">
  <a href="/equipos/crear" class="btn btn btn-outline-primary container-fluid p-1 m-1"><small>Agregar</small></a>
  <table class="table table-striped">
    <thead>
      <tr class="border-secondary">
        <th scope="col">Id</th>
        <th scope="col">Nombre de Equipo</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
        <% if (arrayequipos.length > 0) { %>
            <% arrayequipos.forEach(equipo => { %>
                <tr>
                    <th scope="row"><%= equipo.id_equipo %> </th>
                    <td><%= equipo.nombre_equipo %></td>
                    <td>
                      <a href="equipos/editar/<%= equipo.id_equipo %>" class="btn btn-outline-info p-0"><small>Editar</small></a>
                      <a href="equipos/eliminar/<%= equipo.id_equipo %>" class="btn btn-outline-danger p-0"><small>Eliminar</small></a>                   
                    </td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
  </table>
</div>
<%- include('../plantillas/pie'); %>
