<%- include('../plantillas/cabecera'); %>
<%- include('../plantillas/barranav'); %>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr class="border-secondary">
        <th scope="col">Id</th>
        <th scope="col">Nombre de Modalidad</th>
      </tr>
    </thead>
    <tbody>
        <% if (arraymodalidades.length > 0) { %>
            <% arraymodalidades.forEach(modalidad => { %>
                <tr>
                    <th scope="row"><%= modalidad.id_mod %> </th>
                    <td><%= modalidad.nombre_mod %></td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
  </table>
</div>
<%- include('../plantillas/pie'); %>
