<%- include('../plantillas/cabecera'); %>
<%- include('../plantillas/barranav'); %>

<div class="container">
  <a href="/usuarios/crear" class="btn btn btn-outline-primary container-fluid p-1 m-1"><small>Agregar</small></a>
  <table class="table table-striped scroll">
    <thead>
      <tr class="border-secondary">
        <th scope="col">Id</th>
        <th scope="col">Usuario</th>
        <th scope="col">Password</th>
        <th scope="col">Rol</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
        <% if (arrayusuarios.length > 0) { %>
            <% arrayusuarios.forEach(usuario => { %>
                <tr>
                    <th scope="row"><%= usuario.id %> </th>
                    <td><%= usuario.usuario %></td>
                    <td><%= usuario.password %></td>
                    <td><%= usuario.rol %></td>
                    <td>
                      <a href="usuarios/editar/<%= usuario.id %>" class="btn btn-outline-info p-0"><small>Editar</small></a>
                      <a href="usuarios/eliminar/<%= usuario.id %>" class="btn btn-outline-danger p-0"><small>Eliminar</small></a>                   
                    </td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
  </table>
</div>
<%- include('../plantillas/pie'); %>
